#mtss_button{:style => "float:left;"}
  .btn-primary{:style=>"height:40px;width:350px;text-align: center;margin-top:60px;"}
    = link_to "for synchronised data of inward remittance rule into tokenization click here",tokenize_data_proc_partner_lcy_rates_path,:style=>"color: white;text-align: justify;",:remote=>true